.wholePage{
    
    padding-top: 60px;
}


.Groupmember
{

    margin: 0 auto;
    text-align:center;
    margin-left: 1171px;
    width: 300px;
    margin-top: -30px;
}

.liveChat
{
    @apply static top-96 ml-9 ;
    margin-top: -1160px;
    
}

