@using Project_AP
@model TodoViewModel
<form asp-action="Adding" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="text-align:center;color:blue"><head><h2><b>To-Do List</b></h2></head></div><br><br><br>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <label asp-for="Todo.SubjectId">Subject</label>
            <input asp-for="Todo.SubjectId" />
            <span asp-validation-for="Todo.SubjectId"></span>
            <label asp-for="Todo.Message"> Message </label>
            <input asp-for="Todo.Message" />
            <span asp-validation-for="Todo.Message"></span>
            <label asp-for="Todo.Date"> Date </label>
            <input asp-for="Todo.Date" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control" />
            <span asp-validation-for="Todo.Date"></span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5" style="text-align:center" >
            <input type="submit" id="form-button" class="btn btn-success" value="Add"  />
        </div>
    </div>
</form>
<form asp-action="Search" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <div style="text-align:center">
                <label asp-for="Todo.SubjectId">Subject</label>
            <br>
            <input asp-for="Todo.SubjectId" />
            <span asp-validation-for="Todo.SubjectId"></span>
             </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5" style="text-align:center" >
            <input type="submit" id="form-button" class="btn btn-danger" value="Search"  />
        </div>
    </div>
</form>
<form asp-action="Deleting" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <div style="text-align:center">
                <label asp-for="Todo.SubjectId">Subject</label>
            <br>
            <input asp-for="Todo.SubjectId" />
            <span asp-validation-for="Todo.SubjectId"></span>
             </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5" style="text-align:center" >
            <input type="submit" id="form-button" class="btn btn-danger" value="Delete"  />
        </div>
    </div>
</form>





